body {
  transition: background-color 0.5s, color 0.5s;
}

.dark-theme {
  background-color: #121212;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

/* The switch - the box around the slider */
.switch {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Define code block styling for light theme */
.light-theme pre {
  background-color: #f0f0f0; /* light grey */
  color: black;
  padding: 10px;
  border-radius: 4px;
}

/* Define code block styling for dark theme */
.dark-theme pre {
  background-color: #2f2f2f; /* dark grey */
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.post-date {
  color: grey;
}

.post-date span {
  font-weight: bold;
}

ul.sub-menu {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    position: absolute;
    z-index: 1000;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

ul.sub-menu li {
    margin: 0;
    padding: 0;
}

ul.sub-menu li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
}

ul.sub-menu li a:hover {
    background-color: #f1f1f1;
}

.cv-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;  
    text-decoration: underline; 
}

.cv-dropdown:hover > ul.sub-menu {
    display: block;
    left: 0;
    top: 100%;
}
