:root {
    --text-color: #333;
    --bg-color: #fff;
    --header-footer-bg: #fff; 
    --article-bg: #fafafa;
    --link-color: #007bff; 
    --tooltip-bg: rgba(245, 245, 245, 0.9); 
    --tooltip-text-color: #5a5a5a; 
    --title-color: #333; 
    --tile-size: 80px; 
    --tile-margin: 10px; 
    --section-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    --content-width: 640px; 
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: var(--header-footer-bg);
    width: 100%;
}

h1 {
    color: var(--title-color);
    margin: 0;
}

/* Search bar styles */
input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    max-width: var(--content-width);
    margin: 20px auto;
}

/* Style for individual recipe links */
.recipe {
    width: 30%; 
    padding: 10px;
    margin: 0px 0;
    text-align: center;
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease; 
}

.recipe:hover, .recipe:focus {
    text-decoration: underline;
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--header-footer-bg);
    width: 100%;
}

